@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>
        Full Stack Developers that Rock, <br />
        Awesome React Drive, <br />
        InfinityGeekVille, Alpha Centauri <br />
        Course Project 2017...<br />
    </strong>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
